
@{
    ViewBag.Title = "ThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/GD.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}
<body style="text-align:center">
    <h2>Đặt hàng thành công</h2>
    <a class="btn btn-block btn-success" href="@Url.Action("Index","Sach_63134277")"> Tiếp tục mua sắm</a>
</body>